.Stopwatch {
  background-color: crimson;
  color: whitesmoke;
}

.timer {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 0.5em;
}

img {
  width: 4em;
}

.Stopwatch > button {
  border-radius: 50%;
  border: none;
  margin: 1em;
  background: none;
  cursor: pointer;
}

.Stopwatch > button:hover {
  transform: scale(1.2);
}
