.Date {
  background: rgb(143, 218, 210);
  height: 14em;
}

.TodayTime {
  background-color: rgb(255, 245, 233);
  width: 6em;
  margin: 0 auto;
  padding: 0.5em;
  font-size: 2em;
  letter-spacing: 5px;
  font-weight: 700;
  border-radius: 20px;
}

.TodayDate {
  font-size: 2em;
  margin: 0.5em auto;
}

.TodayDate2 {
  font-size: 1em;
  margin: 0 auto 2em auto;
}
